.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories_list {
  display: flex;
}

.categories_item {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.categories_item:hover {
  background-color: #282828;
  color: #f9f9f9;
}

.categories_item:active {
  background-color: #282828;
  color: #f9f9f9;
}

.categories_active {
  background-color: #282828;
  color: #f9f9f9;
}
