.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  /* padding: 40px 35px 40px 50px; */

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}

.content {
  padding: 40px 0;
}

.top_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 50px;
  margin-top: 60px;
}

.content_pizza {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
}
